In [1]:
import twstock
import requests as r
import pandas as pd

In [2]:
stock = twstock.realtime.get('2330')
stock

{'timestamp': 1706250600.0,
 'info': {'code': '2330',
  'channel': '2330.tw',
  'name': '台積電',
  'fullname': '台灣積體電路製造股份有限公司',
  'time': '2024-01-26 14:30:00'},
 'realtime': {'latest_trade_price': '644.0000',
  'trade_volume': '4494',
  'accumulate_trade_volume': '40985',
  'best_bid_price': ['644.0000',
   '643.0000',
   '642.0000',
   '641.0000',
   '640.0000'],
  'best_bid_volume': ['811', '313', '186', '424', '324'],
  'best_ask_price': ['645.0000',
   '646.0000',
   '647.0000',
   '648.0000',
   '649.0000'],
  'best_ask_volume': ['2919', '3009', '1217', '1725', '687'],
  'open': '644.0000',
  'high': '646.0000',
  'low': '639.0000'},
 'success': True}

In [3]:
stock['success'] == True

True

In [4]:
"台股即時報價" if stock['success'] == True else "不是台股即時報價"

'台股即時報價'

In [5]:
stock = pd.DataFrame(stock)
stock

,timestamp,info,realtime,success
code,1.706251e+09,2330,NaN,True
channel,1.706251e+09,2330.tw,NaN,True
name,1.706251e+09,台積電,NaN,True
fullname,1.706251e+09,台灣積體電路製造股份有限公司,NaN,True
time,1.706251e+09,2024-01-26 14:30:00,NaN,True
latest_trade_price,1.706251e+09,NaN,644.0000,True
trade_volume,1.706251e+09,NaN,4494,True
accumulate_trade_volume,1.706251e+09,NaN,40985,True
best_bid_price,1.706251e+09,NaN,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...",True
best_bid_volume,1.706251e+09,NaN,"[811, 313, 186, 424, 324]",True
best_ask_price,1.706251e+09,NaN,"[645.0000, 646.0000, 647.0000, 648.0000, 649.0...",True
best_ask_volume,1.706251e+09,NaN,"[2919, 3009, 1217, 1725, 687]",True
open,1.706251e+09,NaN,644.0000,True
high,1.706251e+09,NaN,646.0000,True
low,1.706251e+09,NaN,639.0000,True

In [6]:
stock_info = stock.iloc[0:5, 1]
stock_info

code                       2330
channel                 2330.tw
name                        台積電
fullname         台灣積體電路製造股份有限公司
time        2024-01-26 14:30:00
Name: info, dtype: object

In [8]:
stock_realtime = stock.iloc[5:, 2]
stock_realtime

latest_trade_price                                                  644.0000
trade_volume                                                            4494
accumulate_trade_volume                                                40985
best_bid_price             [644.0000, 643.0000, 642.0000, 641.0000, 640.0...
best_bid_volume                                    [811, 313, 186, 424, 324]
best_ask_price             [645.0000, 646.0000, 647.0000, 648.0000, 649.0...
best_ask_volume                                [2919, 3009, 1217, 1725, 687]
open                                                                644.0000
high                                                                646.0000
low                                                                 639.0000
Name: realtime, dtype: object

In [9]:
stock_data = stock_info._append(stock_realtime, ignore_index = True)
stock_data

0                                                  2330
1                                               2330.tw
2                                                   台積電
3                                        台灣積體電路製造股份有限公司
4                                   2024-01-26 14:30:00
5                                              644.0000
6                                                  4494
7                                                 40985
8     [644.0000, 643.0000, 642.0000, 641.0000, 640.0...
9                             [811, 313, 186, 424, 324]
10    [645.0000, 646.0000, 647.0000, 648.0000, 649.0...
11                        [2919, 3009, 1217, 1725, 687]
12                                             644.0000
13                                             646.0000
14                                             639.0000
dtype: object

In [10]:
stock['data'] = list(stock_data)
stock

,timestamp,info,realtime,success,data
code,1.706251e+09,2330,NaN,True,2330
channel,1.706251e+09,2330.tw,NaN,True,2330.tw
name,1.706251e+09,台積電,NaN,True,台積電
fullname,1.706251e+09,台灣積體電路製造股份有限公司,NaN,True,台灣積體電路製造股份有限公司
time,1.706251e+09,2024-01-26 14:30:00,NaN,True,2024-01-26 14:30:00
latest_trade_price,1.706251e+09,NaN,644.0000,True,644.0000
trade_volume,1.706251e+09,NaN,4494,True,4494
accumulate_trade_volume,1.706251e+09,NaN,40985,True,40985
best_bid_price,1.706251e+09,NaN,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...",True,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0..."
best_bid_volume,1.706251e+09,NaN,"[811, 313, 186, 424, 324]",True,"[811, 313, 186, 424, 324]"
best_ask_price,1.706251e+09,NaN,"[645.0000, 646.0000, 647.0000, 648.0000, 649.0...",True,"[645.0000, 646.0000, 647.0000, 648.0000, 649.0..."
best_ask_volume,1.706251e+09,NaN,"[2919, 3009, 1217, 1725, 687]",True,"[2919, 3009, 1217, 1725, 687]"
open,1.706251e+09,NaN,644.0000,True,644.0000
high,1.706251e+09,NaN,646.0000,True,646.0000
low,1.706251e+09,NaN,639.0000,True,639.0000

In [11]:
stock = stock.drop(['timestamp', 'info', 'realtime', 'success'], axis = 1)
stock

                                                                      data
code                                                                  2330
channel                                                            2330.tw
name                                                                   台積電
fullname                                                    台灣積體電路製造股份有限公司
time                                                   2024-01-26 14:30:00
latest_trade_price                                                644.0000
trade_volume                                                          4494
accumulate_trade_volume                                              40985
best_bid_price           [644.0000, 643.0000, 642.0000, 641.0000, 640.0...
best_bid_volume                                  [811, 313, 186, 424, 324]
best_ask_price           [645.0000, 646.0000, 647.0000, 648.0000, 649.0...
best_ask_volume                              [2919, 3009, 1217, 1725, 687]
open                                                              644.0000
high                                                              646.0000
low                                                               639.0000

In [12]:
stock = stock.T
stock

,code,channel,name,fullname,time,latest_trade_price,trade_volume,accumulate_trade_volume,best_bid_price,best_bid_volume,best_ask_price,best_ask_volume,open,high,low
data,2330,2330.tw,台積電,台灣積體電路製造股份有限公司,2024-01-26 14:30:00,644.0000,4494,40985,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...","[811, 313, 186, 424, 324]","[645.0000, 646.0000, 647.0000, 648.0000, 649.0...","[2919, 3009, 1217, 1725, 687]",644.0000,646.0000,639.0000

In [13]:
stock.columns = ['股票代碼', '股票代碼全', '股票名稱', '公司名', '下載時間', '最新成交量', '成交量', '累計成交量', '最佳5檔賣出價', '最佳5檔賣出量', '最佳5檔買進價', '最佳5檔買進量', '開盤價', '最高價', '最低價']
stock

,股票代碼,股票代碼全,股票名稱,公司名,下載時間,最新成交量,成交量,累計成交量,最佳5檔賣出價,最佳5檔賣出量,最佳5檔買進價,最佳5檔買進量,開盤價,最高價,最低價
data,2330,2330.tw,台積電,台灣積體電路製造股份有限公司,2024-01-26 14:30:00,644.0000,4494,40985,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...","[811, 313, 186, 424, 324]","[645.0000, 646.0000, 647.0000, 648.0000, 649.0...","[2919, 3009, 1217, 1725, 687]",644.0000,646.0000,639.0000

In [15]:
stock_multi = twstock.realtime.get(['2330', '2454', '0050'])
stock_multi

{'2330': {'timestamp': 1706250600.0,
  'info': {'code': '2330',
   'channel': '2330.tw',
   'name': '台積電',
   'fullname': '台灣積體電路製造股份有限公司',
   'time': '2024-01-26 14:30:00'},
  'realtime': {'latest_trade_price': '644.0000',
   'trade_volume': '4494',
   'accumulate_trade_volume': '40985',
   'best_bid_price': ['644.0000',
    '643.0000',
    '642.0000',
    '641.0000',
    '640.0000'],
   'best_bid_volume': ['811', '313', '186', '424', '324'],
   'best_ask_price': ['645.0000',
    '646.0000',
    '647.0000',
    '648.0000',
    '649.0000'],
   'best_ask_volume': ['2919', '3009', '1217', '1725', '687'],
   'open': '644.0000',
   'high': '646.0000',
   'low': '639.0000'},
  'success': True},
 '2454': {'timestamp': 1706250600.0,
  'info': {'code': '2454',
   'channel': '2454.tw',
   'name': '聯發科',
   'fullname': '聯發科技股份有限公司',
   'time': '2024-01-26 14:30:00'},
  'realtime': {'latest_trade_price': '936.0000',
   'trade_volume': '543',
   'accumulate_trade_volume': '5248',
   'best_bid_price': ['935.0000',
    '934.0000',
    '933.0000',
    '932.0000',
    '931.0000'],
   'best_bid_volume': ['14', '12', '37', '41', '132'],
   'best_ask_price': ['936.0000',
    '937.0000',
    '938.0000',
    '939.0000',
    '940.0000'],
   'best_ask_volume': ['33', '118', '152', '110', '100'],
   'open': '936.0000',
   'high': '939.0000',
   'low': '928.0000'},
  'success': True},
 '0050': {'timestamp': 1706250600.0,
  'info': {'code': '0050',
   'channel': '0050.tw',
   'name': '元大台灣50',
   'fullname': '元大台灣卓越50證券投資信託基金',
   'time': '2024-01-26 14:30:00'},
  'realtime': {'latest_trade_price': '135.6500',
   'trade_volume': '405',
   'accumulate_trade_volume': '15804',
   'best_bid_price': ['135.6000',
    '135.5500',
    '135.5000',
    '135.4500',
    '135.4000'],
   'best_bid_volume': ['303', '332', '189', '221', '280'],
   'best_ask_price': ['135.6500',
    '135.7000',
    '135.7500',
    '135.8000',
    '135.8500'],
   'best_ask_volume': ['5', '40', '70', '469', '356'],
   'open': '135.6500',
   'high': '135.9500',
   'low': '135.3000'},
  'success': True},
 'success': True}

In [16]:
pd.DataFrame(stock_multi)

,2330,2454,0050,success
timestamp,1706250600.0,1706250600.0,1706250600.0,True
info,"{'code': '2330', 'channel': '2330.tw', 'name':...","{'code': '2454', 'channel': '2454.tw', 'name':...","{'code': '0050', 'channel': '0050.tw', 'name':...",True
realtime,"{'latest_trade_price': '644.0000', 'trade_volu...","{'latest_trade_price': '936.0000', 'trade_volu...","{'latest_trade_price': '135.6500', 'trade_volu...",True
success,True,True,True,True

In [17]:
df = stock_multi['2330']
df

{'timestamp': 1706250600.0,
 'info': {'code': '2330',
  'channel': '2330.tw',
  'name': '台積電',
  'fullname': '台灣積體電路製造股份有限公司',
  'time': '2024-01-26 14:30:00'},
 'realtime': {'latest_trade_price': '644.0000',
  'trade_volume': '4494',
  'accumulate_trade_volume': '40985',
  'best_bid_price': ['644.0000',
   '643.0000',
   '642.0000',
   '641.0000',
   '640.0000'],
  'best_bid_volume': ['811', '313', '186', '424', '324'],
  'best_ask_price': ['645.0000',
   '646.0000',
   '647.0000',
   '648.0000',
   '649.0000'],
  'best_ask_volume': ['2919', '3009', '1217', '1725', '687'],
  'open': '644.0000',
  'high': '646.0000',
  'low': '639.0000'},
 'success': True}

In [18]:
df['success']

True

In [19]:
df = pd.DataFrame(df)
df

,timestamp,info,realtime,success
code,1.706251e+09,2330,NaN,True
channel,1.706251e+09,2330.tw,NaN,True
name,1.706251e+09,台積電,NaN,True
fullname,1.706251e+09,台灣積體電路製造股份有限公司,NaN,True
time,1.706251e+09,2024-01-26 14:30:00,NaN,True
latest_trade_price,1.706251e+09,NaN,644.0000,True
trade_volume,1.706251e+09,NaN,4494,True
accumulate_trade_volume,1.706251e+09,NaN,40985,True
best_bid_price,1.706251e+09,NaN,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...",True
best_bid_volume,1.706251e+09,NaN,"[811, 313, 186, 424, 324]",True
best_ask_price,1.706251e+09,NaN,"[645.0000, 646.0000, 647.0000, 648.0000, 649.0...",True
best_ask_volume,1.706251e+09,NaN,"[2919, 3009, 1217, 1725, 687]",True
open,1.706251e+09,NaN,644.0000,True
high,1.706251e+09,NaN,646.0000,True
low,1.706251e+09,NaN,639.0000,True

In [20]:
stock_info = df.iloc[0:5, 1]
stock_realtime = df.iloc[5:, 2]
stock_data = stock_info._append(stock_realtime, ignore_index = True)
df['data'] = list(stock_data)
df = df.drop(['timestamp', 'info', 'realtime', 'success'], axis = 1)
df = df.T
df.columns = ['股票代碼', '股票代碼全', '股票名稱', '公司名', '下載時間', '最新成交量', '成交量', '累計成交量', '最佳5檔賣出價', '最佳5檔賣出量', '最佳5檔買進價', '最佳5檔買進量', '開盤價', '最高價', '最低價']
df

,股票代碼,股票代碼全,股票名稱,公司名,下載時間,最新成交量,成交量,累計成交量,最佳5檔賣出價,最佳5檔賣出量,最佳5檔買進價,最佳5檔買進量,開盤價,最高價,最低價
data,2330,2330.tw,台積電,台灣積體電路製造股份有限公司,2024-01-26 14:30:00,644.0000,4494,40985,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...","[811, 313, 186, 424, 324]","[645.0000, 646.0000, 647.0000, 648.0000, 649.0...","[2919, 3009, 1217, 1725, 687]",644.0000,646.0000,639.0000

In [24]:
stock_df = pd.DataFrame()

for stock in ['2330', '2454', '0050']:
    df_= pd.DataFrame(stock_multi[stock])
    stock_info = df_.iloc[0:5, 1]
    stock_realtime = df_.iloc[5:, 2]
    stock_data = stock_info._append(stock_realtime, ignore_index = True)
    df_['data'] = list(stock_data)
    df_ = df_.drop(['timestamp', 'info', 'realtime', 'success'], axis = 1)
    df_ = df_.T
    stock_df = stock_df._append(df_, ignore_index = True)
stock_df.columns = ['股票代碼', '股票代碼全', '股票名稱', '公司名', '下載時間', '最新成交量', '成交量', '累計成交量', '最佳5檔賣出價', '最佳5檔賣出量', '最佳5檔買進價', '最佳5檔買進量', '開盤價', '最高價', '最低價']

In [25]:
stock_df

,股票代碼,股票代碼全,股票名稱,公司名,下載時間,最新成交量,成交量,累計成交量,最佳5檔賣出價,最佳5檔賣出量,最佳5檔買進價,最佳5檔買進量,開盤價,最高價,最低價
0,2330,2330.tw,台積電,台灣積體電路製造股份有限公司,2024-01-26 14:30:00,644.0000,4494,40985,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...","[811, 313, 186, 424, 324]","[645.0000, 646.0000, 647.0000, 648.0000, 649.0...","[2919, 3009, 1217, 1725, 687]",644.0000,646.0000,639.0000
1,2454,2454.tw,聯發科,聯發科技股份有限公司,2024-01-26 14:30:00,936.0000,543,5248,"[935.0000, 934.0000, 933.0000, 932.0000, 931.0...","[14, 12, 37, 41, 132]","[936.0000, 937.0000, 938.0000, 939.0000, 940.0...","[33, 118, 152, 110, 100]",936.0000,939.0000,928.0000
2,0050,0050.tw,元大台灣50,元大台灣卓越50證券投資信託基金,2024-01-26 14:30:00,135.6500,405,15804,"[135.6000, 135.5500, 135.5000, 135.4500, 135.4...","[303, 332, 189, 221, 280]","[135.6500, 135.7000, 135.7500, 135.8000, 135.8...","[5, 40, 70, 469, 356]",135.6500,135.9500,135.3000

上市公司盤中零股 tse getOddInfo

In [46]:
url = "https://mis.twse.com.tw/stock/api/getOddInfo.jsp?ex_ch=tse_2330.tw"

In [47]:
res = r.get(url)
res

In [48]:
data = res.json()
data

{'msgArray': [{'tt': '13:30:00',
   'tv': '-',
   'ps': '3909',
   'pz': '643.0000',
   'qmt': '179644',
   'tmt': '000000',
   'a': '644.0000_645.0000_646.0000_647.0000_648.0000_',
   'b': '643.0000_642.0000_641.0000_640.0000_639.0000_',
   'c': '2330',
   'qt': '13:29:58',
   'd': '20240126',
   'ch': '2330.tw',
   'tlong': '1706247000000',
   'f': '32237_568163_205286_73966_99837_',
   'ip': '0',
   'g': '2870_9441_12240_22523_14422_',
   'mt': '000000',
   'h': '645.0000',
   'i': '24',
   'it': '12',
   'l': '642.0000',
   'n': '台積電',
   'o': '642.0000',
   'p': '0',
   'ex': 'tse',
   's': '6039',
   't': '13:30:00',
   'u': '706.0000',
   'v': '1491825',
   'w': '578.0000',
   'nf': '台灣積體電路製造股份有限公司',
   'y': '642.0000',
   'z': '643.0000',
   'ts': '0'}],
 'referer': '',
 'userDelay': 5000,
 'rtcode': '0000',
 'queryTime': {'sysDate': '20240129',
  'oddInfo': 205,
  'oddInfoItem': 712,
  'sessionStr': 'UserSession',
  'sysTime': '03:53:28',
  'showChart': False,
  'sessionFromTime': -1,
  'sessionLatestTime': -1},
 'rtmessage': 'OK',
 'exKey': 'if_tse_2330.tw_zh-tw.null',
 'cachedAlive': 582198}

In [49]:
data['msgArray'][0]

{'tt': '13:30:00',
 'tv': '-',
 'ps': '3909',
 'pz': '643.0000',
 'qmt': '179644',
 'tmt': '000000',
 'a': '644.0000_645.0000_646.0000_647.0000_648.0000_',
 'b': '643.0000_642.0000_641.0000_640.0000_639.0000_',
 'c': '2330',
 'qt': '13:29:58',
 'd': '20240126',
 'ch': '2330.tw',
 'tlong': '1706247000000',
 'f': '32237_568163_205286_73966_99837_',
 'ip': '0',
 'g': '2870_9441_12240_22523_14422_',
 'mt': '000000',
 'h': '645.0000',
 'i': '24',
 'it': '12',
 'l': '642.0000',
 'n': '台積電',
 'o': '642.0000',
 'p': '0',
 'ex': 'tse',
 's': '6039',
 't': '13:30:00',
 'u': '706.0000',
 'v': '1491825',
 'w': '578.0000',
 'nf': '台灣積體電路製造股份有限公司',
 'y': '642.0000',
 'z': '643.0000',
 'ts': '0'}

上櫃公司盤中零股 oct getOddInfo

In [51]:
url = "https://mis.twse.com.tw/stock/api/getOddInfo.jsp?ex_ch=otc_8436.tw"

In [52]:
res = r.get(url)
res

In [53]:
data = res.json()
data

{'msgArray': [{'tt': '13:27:33',
   'tv': '-',
   'ps': '-',
   'pz': '-',
   'qmt': '896722',
   'tmt': '780256',
   'a': '172.5000_173.0000_174.0000_174.5000_175.0000_',
   'b': '172.0000_171.5000_171.0000_170.5000_170.0000_',
   'c': '8436',
   'qt': '13:29:48',
   'd': '20240126',
   'ch': '8436.tw',
   'tlong': '1706247000000',
   'f': '220_1194_85_159_62_',
   'ip': '0',
   'g': '1060_1414_231_397_991_',
   'mt': '000000',
   'h': '173.5000',
   'i': '22',
   'it': '12',
   'l': '172.0000',
   'n': '大江',
   'o': '172.5000',
   'p': '0',
   'ex': 'otc',
   's': '-',
   't': '13:30:00',
   'u': '189.0000',
   'v': '7224',
   'w': '155.0000',
   'nf': '大江生醫股份有限公司',
   'y': '172.0000',
   'z': '172.0000',
   'ts': '0'}],
 'referer': '',
 'userDelay': 5000,
 'rtcode': '0000',
 'queryTime': {'sysDate': '20240129',
  'oddInfo': 611,
  'oddInfoItem': 713,
  'sessionStr': 'UserSession',
  'sysTime': '04:02:51',
  'showChart': False,
  'sessionFromTime': -1,
  'sessionLatestTime': -1},
 'rtmessage': 'OK',
 'exKey': 'if_otc_8436.tw_zh-tw.null',
 'cachedAlive': 55140}

In [50]:
data['msgArray'][0]

{'tt': '13:30:00',
 'tv': '-',
 'ps': '3909',
 'pz': '643.0000',
 'qmt': '179644',
 'tmt': '000000',
 'a': '644.0000_645.0000_646.0000_647.0000_648.0000_',
 'b': '643.0000_642.0000_641.0000_640.0000_639.0000_',
 'c': '2330',
 'qt': '13:29:58',
 'd': '20240126',
 'ch': '2330.tw',
 'tlong': '1706247000000',
 'f': '32237_568163_205286_73966_99837_',
 'ip': '0',
 'g': '2870_9441_12240_22523_14422_',
 'mt': '000000',
 'h': '645.0000',
 'i': '24',
 'it': '12',
 'l': '642.0000',
 'n': '台積電',
 'o': '642.0000',
 'p': '0',
 'ex': 'tse',
 's': '6039',
 't': '13:30:00',
 'u': '706.0000',
 'v': '1491825',
 'w': '578.0000',
 'nf': '台灣積體電路製造股份有限公司',
 'y': '642.0000',
 'z': '643.0000',
 'ts': '0'}

上市公司盤中整股 tse getStockInfo

In [54]:
url = "https://mis.twse.com.tw/stock/api/getStockInfo.jsp?ex_ch=tse_2330.tw"

In [55]:
res = r.get(url)
res

In [57]:
data = res.json()
data

{'msgArray': [{'tv': '4494',
   'ps': '4494',
   'pz': '644.0000',
   'bp': '0',
   'fv': '104',
   'oa': '643.0000',
   'ob': '642.0000',
   'a': '645.0000_646.0000_647.0000_648.0000_649.0000_',
   'b': '644.0000_643.0000_642.0000_641.0000_640.0000_',
   'c': '2330',
   'd': '20240126',
   'ch': '2330.tw',
   'ot': '14:30:00',
   'tlong': '1706250600000',
   'f': '2919_3009_1217_1725_687_',
   'ip': '0',
   'g': '811_313_186_424_324_',
   'mt': '000000',
   'ov': '64025',
   'h': '646.0000',
   'i': '24',
   'it': '12',
   'oz': '642.0000',
   'l': '639.0000',
   'n': '台積電',
   'o': '644.0000',
   'p': '0',
   'ex': 'tse',
   's': '4494',
   't': '13:30:00',
   'u': '706.0000',
   'v': '40985',
   'w': '578.0000',
   'nf': '台灣積體電路製造股份有限公司',
   'y': '642.0000',
   'z': '644.0000',
   'ts': '0'}],
 'referer': '',
 'userDelay': 5000,
 'rtcode': '0000',
 'queryTime': {'sysDate': '20240129',
  'stockInfoItem': 2080,
  'stockInfo': 113324,
  'sessionStr': 'UserSession',
  'sysTime': '04:06:06',
  'showChart': False,
  'sessionFromTime': -1,
  'sessionLatestTime': -1},
 'rtmessage': 'OK',
 'exKey': 'if_tse_2330.tw_zh-tw.null',
 'cachedAlive': 20167}

In [58]:
data['msgArray'][0]

{'tv': '4494',
 'ps': '4494',
 'pz': '644.0000',
 'bp': '0',
 'fv': '104',
 'oa': '643.0000',
 'ob': '642.0000',
 'a': '645.0000_646.0000_647.0000_648.0000_649.0000_',
 'b': '644.0000_643.0000_642.0000_641.0000_640.0000_',
 'c': '2330',
 'd': '20240126',
 'ch': '2330.tw',
 'ot': '14:30:00',
 'tlong': '1706250600000',
 'f': '2919_3009_1217_1725_687_',
 'ip': '0',
 'g': '811_313_186_424_324_',
 'mt': '000000',
 'ov': '64025',
 'h': '646.0000',
 'i': '24',
 'it': '12',
 'oz': '642.0000',
 'l': '639.0000',
 'n': '台積電',
 'o': '644.0000',
 'p': '0',
 'ex': 'tse',
 's': '4494',
 't': '13:30:00',
 'u': '706.0000',
 'v': '40985',
 'w': '578.0000',
 'nf': '台灣積體電路製造股份有限公司',
 'y': '642.0000',
 'z': '644.0000',
 'ts': '0'}